@model WebApplication.Pages.Alarm.AlarmModel


<div class="card bg-light shadow-sm" style="width: 18rem;">

    <div class="card-header bg-light"><h4>@Model.mName</h4></div>

    <div class="card-body">
        @if (Model.mAlarmState.readSucceeded)
        {
            <div class="d-flex justify-content-between">

                <div class="pr-2">
                    @if (!string.IsNullOrEmpty(Model.mAlarmState.stateDescription))
                    {
                        @Model.mAlarmState.stateDescription
                    }
                    else
                 if (Model.mAlarmState.active)
                    {
                        @:Aktywny
                    }
                    else
                    {
                        @:Nieaktywny
                    }
                </div>

                @if (Model.mAlarmState.active)
                {
                    <i class="fas fa-bell fa-3x" --data-fa-transform="grow-32 left-6 up-3" style="color:red"></i>
                }
                else
                {
                    <i class="far fa-bell fa-3x" --data-fa-transform="grow-32 left-6 up-3" --style="color:red"></i>
                }
            </div>
        }
    </div>

    @if (!Model.mAlarmState.readSucceeded)
    {
        <div class="card-footer py-0 text-right text-white bg-danger">
            Błąd odczytu: @Model.mAlarmState.readStatusString
        </div>
    }
</div>