@using BlazorWebAssemblyApp.Code;
<div class="card shadow-sm" style="width: 13rem;">

    <div class="card-header bg-light"><h4>@Model.Name</h4></div>

    <div class="card-body">
        @if (Model.AlarmState.ReadSucceeded)
        {
            <div class="d-flex justify-content-between">

                <div class="pr-2">
                    @if (!string.IsNullOrEmpty(Model.AlarmState.StateDescription))
                    {
                        @Model.AlarmState.StateDescription
                    }
                    else
                    if (Model.AlarmState.Active)
                    {
                        <span>Aktywny</span>
                    }
                    else
                    {
                        <span>Nieaktywny</span>
                    }
                </div>

                @if (Model.AlarmState.Active)
                {
                    <i class="fas fa-bell fa-3x" style="color:red"></i>
                }
                else
                {
                    <i class="far fa-bell fa-3x"></i>
                }
            </div>
        }
    </div>


    @if (!Model.AlarmState.ReadSucceeded)
    {
        <div class="card-footer py-0 text-right text-white bg-danger">
            Błąd odczytu: @Model.AlarmState.ReadStatusString
        </div>
    }
</div>


@code {
    [Parameter, EditorRequired]
    public required AlarmModel Model { get; set; }

}
