@page "/"

<h1>Blazor WebAssembly Demo</h1>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://www.askom.pl/images/siemens_askom_webinar_branza_spozywcza_2.png" class="card-img-top" alt="Current Values">
            <div class="card-body">
                <h5 class="card-title">Zmienne</h5>
                <p class="card-text">Odczyt i odświeżanie wartości zmiennych.</p>
                <a href="/VariableDemo" class="btn btn-primary stretched-link">Otwórz</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://www.askom.pl/images/siemens_askom_webinar_branza_spozywcza_2.png" class="card-img-top" alt="Historical Values">
            <div class="card-body">
                <h5 class="card-title">Alarmy</h5>
                <p class="card-text">Odczyt i odświeżanie wartości alarmów.</p>
                <a href="/AlarmDemo" class="btn btn-primary stretched-link">Otwórz</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://www.askom.pl/images/siemens_askom_webinar_branza_spozywcza_2.png" class="card-img-top" alt="Alarms">
            <div class="card-body">
                <h5 class="card-title">Baza definicji zmiennych</h5>
                <p class="card-text">Odczyt listy definicji zmiennych.</p>
                <a href="/VarDefDemo" class="btn btn-primary stretched-link">Otwórz</a>
            </div>
        </div>
    </div>
</div>
