@page "/VariableDemo"

@using Asix;
@using WebApplication.Code;

@implements IDisposable


<div class="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <img src="https://www.askom.pl/images/asix_system_page.png" class="img-fluid" alt="Hero Image">
            </div>
            <div class="col-md-8">
                <h1>Blazor WebAssembly Demo</h1>
                <p class="lead">Odczyt i odświeżanie wartości zmiennych</p>
            </div>
        </div>
    </div>
</div>


<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

        @foreach (var i in mVariableModelList)
        {
            <div class="col mb-3">
                <VariableCard Model="@i"></VariableCard>
            </div>
        }

    </div>
</div>


@code {
    List<VariableModel> mVariableModelList = new();

    private System.Timers.Timer mTimer = new(5000);

    List<string> mAttributeNameList = new List<string> { "Description", "Unit" };


    protected override void OnInitialized()
    {
        mVariableModelList.Add(new VariableModel("A000"));
        mVariableModelList.Add(new VariableModel("A004"));
        mVariableModelList.Add(new VariableModel("A008"));
        mVariableModelList.Add(new VariableModel("A082"));
        mVariableModelList.Add(new VariableModel("A084"));
        mVariableModelList.Add(new VariableModel("A086"));
    }


    protected override async Task OnParametersSetAsync()
    {
        await ReadAttributesAsync();
        await RefreshPageAsync();

        mTimer.Elapsed += async (sender, e) => await RefreshPageAsync();
        mTimer.AutoReset = true;
        mTimer.Start();
    }


    public void Dispose()
    {
        mTimer.Dispose();
    }


    async Task ReadAttributesAsync()
    {
        AsixRestClient asixRestClient = AsixRestClient.Create();
        var variableNames = mVariableModelList.Select(x => x.Name).ToArray();
        IList<IList<string>> variableAttributesCollection = await asixRestClient.GetVariableAttributeAsync(variableNames, mAttributeNameList);

        for (int i = 0; i < mVariableModelList.Count; i++)
        {
            mVariableModelList[i].Decription = variableAttributesCollection[i][0];
            mVariableModelList[i].Unit = variableAttributesCollection[i][1];
        }
    }



    async Task RefreshPageAsync()
    {
        await ReadVariableValues();
        await InvokeAsync(StateHasChanged);
    }


    async Task ReadVariableValues()
    {
        try
        {
            AsixRestClient asixRestClient = AsixRestClient.Create();
            string[] variableNames = mVariableModelList.Select(x => x.Name).ToArray();
            IList<VariableValue> variableValues = await asixRestClient.GetVariableValueAsync(variableNames);

            for (int i = 0; i < mVariableModelList.Count; i++)
            {
                mVariableModelList[i].SetVariableValue(variableValues[i]);
            }
        }
        catch (Exception e)
        {
            for (int i = 0; i < mVariableModelList.Count; i++)
            {
                mVariableModelList[i].ReadError = e.Message;
            }
        }
    }
}
