@page
@model WebApplication.Pages.Variable.Demo1Model
@{
    ViewData["Title"] = "Variable/Demo1";
}


@*Nagłówek strony*@
<div class="jumbotron bg-light shadow-sm">
    <h1 class="display-4">Odczyt wartości zmiennej</h1>

    <hr class="my-4">

    <a id="btnRefresh" class="btn btn-secondary" asp-area="" asp-page="Variable/Demo1">Odśwież stronę</a>
    <script> document.getElementById("btnRefresh").focus(); </script>
</div>



@*Obsługa błędów*@
@if (!string.IsNullOrEmpty(Model.mReadError))
{
    <div class="alert alert-danger" role="alert">
        Błąd odczytu: @Model.mReadError;
    </div>

    return;
}


@*Karta wyświetlająca sformatowaną wartość zmiennej*@
<div class="card bg-light shadow-sm " style="width: 18rem;">
    <div class="card-body">
        <p>Przepływ gazu do pieca</p>
        <h3>@Model.mValueFormatted m³/h</h3>
    </div>
</div>
