@page
@model WebApplication.Pages.VariableDynamic.Demo1Model
@{
    ViewData["Title"] = "VariableDynamic/Demo1";
}


<div class="jumbotron bg-light shadow-sm">
    <h1 class="display-4">Odświeżanie wartości zmiennych</h1>
</div>


<div id="deck">
    <partial name="_Demo1VariableDeck" model="@Model.mVariableModelList.ToArray()" />
</div>


@section scripts{
    <script>
        setInterval(refreshVariables, 2000);

        function refreshVariables() {
            $('#deck').load('Demo1?handler=VariableDeck');
        }
    </script>
}