@page
@model WebApplication.Pages.VariableDynamic.Demo1Model
@{
    ViewData["Title"] = "VariableDynamic/Demo1";
}


<div class="jumbotron bg-light shadow-sm">
    <h1 class="display-4">Odświeżanie wartości zmiennej</h1>
</div>


<partial name="_Demo1Variable" model="Model.mVariableModelA000" />
