@page
@model WebApplication.Pages.VariableDynamic.Demo1Model
@{
    ViewData["Title"] = "VariableDynamic/Demo1";
}


<div class="jumbotron bg-light shadow-sm">
    <h1 class="display-4">Odświeżanie wartości zmiennych</h1>
</div>

<div class="card-deck py-3">
    <div id="viewA000"></div>
    <div id="viewA004"></div>
    <div id="viewA008"></div>
</div>

<div class="card-deck py-3">
    <div id="viewA082"></div>
    <div id="viewA084"></div>
    <div id="viewA086"></div>
</div>


@section scripts{
    <script>
        setInterval(refreshVariables, 2000);
        refreshVariables();

        function refreshVariables()
        {
            $('#viewA000').load('/VariableDynamic/Demo1?handler=Var1&name=A000');
            $('#viewA004').load('/VariableDynamic/Demo1?handler=Var1&name=A004');
            $('#viewA008').load('/VariableDynamic/Demo1?handler=Var1&name=A008');

            $('#viewA082').load('/VariableDynamic/Demo1?handler=Var1&name=A082');
            $('#viewA084').load('/VariableDynamic/Demo1?handler=Var1&name=A084');
            $('#viewA086').load('/VariableDynamic/Demo1?handler=Var1&name=A086');
        }
    </script>
}