@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Witamy</h1>
    <p>Przykłady wyświetlania danych procesowych aplikacji Asix.Evo w aplikacji Web stwrzonych przy pomocy technologii Asp.Net MVC Core 2.2.</p>
</div>
